nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  gap: 2rem;
  background-color: cadetblue;
  height: 46px;
}
a {
  color: aliceblue;
  text-decoration: none;
}
